.createSynthContainer{
    font-size: xx-large;
}
#btncreateSynth {
    height:100px;
    width:200px;
    top: 100px;
    font-size: x-large;
}
.select{
    height:50px;
    width:50x;
    font-size: x-large;
}
#volumeContainer{
    position:relative;
    font-size:4em;;
    left:500px;
}
#volumeContainer :first-child{
    position: absolute;
    left:80px;
}
#volumeControl{
    width: 400px;
    height:200px;
    
}
.ADSRcontainer{
    position:fixed;
    top:450px;
}
.ADSRitem{
    width:500px;
    height:130px;
    padding: 20px;
    border: 3px dashed darkorange;
}
.ADSRrange{
    width:500px;
    height:100px;
}
.lblADSR{
    position: relative;
    margin-left: 10px;
    font-size: xx-large;
    color:black;
    font-weight: bold;
}
.txtADSR{
    position: absolute;
    margin-left:-350px;
    margin-top:-45px;
    height:50px;
    width:100px;
    background-color: blanchedalmond;
    font-size: xx-large;
}